body{
	width:1110px;
	height:883px;
	margin:0px auto;
}
.header{
	width:80%;
	height:auto;
	margin:0px auto;
	text-align: center;
}

.container{
	width:100%;
	height:auto;
	margin:0px auto;
	float:left;
}

.row{
	width:45%;
	height:auto;
	margin:0px auto;
	float:left;
}
.list{
	width:100%;
	height:auto;
	padding:25px;
	float:left;
}
.image-container{
	width:45%;
	height:543px;
	padding: 30px;
	float:left;
	
}
.sumary{
	padding:10px;
}


img{
	width:100%;
	height:auto;
  	margin:0px auto;
}
.footer{
	width:80%;
	height:auto;
	margin:0px auto;
	text-align: center;
}
.calendar{
	width:25%;
}
td, th{
	border-top:1px solid gray;
}

	
